<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing</title>

    <!-- Our custom selection script -->
    <script src="static/js/utils.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spinner.css') }}" type="text/css">
</head>

<body>

    <div id="overlay">
      <div class="cv-spinner">
        <span class="spinner"></span>
        <p>Loading</p>
      </div>
    </div>

    <h5 align="center">Editing Step</h5>
    <div class="container my-2 py-2">
        <p>
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dialogScenario" aria-expanded="true" aria-controls="dialogScenario" style="font-size: 12px;">
                Dialog Scenario
            </button>
        </p>
        <div class="collapse show" id="dialogScenario">
            <div class="card card-body">
                <div class="row">
                {% for domain in domains %}
                    <div class="col overflow-scroll" style="height: 300px;">
                        <table class="table-bordered w-100 caption-top">
                            <caption style="font-size: 12px">{{ domain }}</caption>
                            <tr>
                                <th>Slot</th>
                                <th>Value</th>
                            </tr>
                            {% for tuple in domain_to_dialog_scenario_tuples[domain] %}
                                <div class="col">
                                </tr>
                                    <td align="left">{{ tuple["slot"] }}</td>
                                    <td align="left">{{ tuple["value"] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container my-2 py-2">
        <p>
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#dialogHistory" aria-expanded="true" aria-controls="dialogHistory" style="font-size: 12px;">
                Dialog History
            </button>
        </p>
        <div class="collapse show" id="dialogHistory">
            <div class="card card-body">
                <div id="history_row" class="row overflow-scroll" style="height: 300px;">
                    <div class="col">
                        <table id="dialogHistoryTable" class="table-bordered w-100 vertical-align: top;">
                            <tr>
                                <th align="center">Turn #</th>
                                <th align="center">Party</th>
                                <th align="center">Role</th>
                                <th align="center">Turn</th>
                            </tr>
    
                            {% for turn in dialog_history %}
                                <tr>
                                    <td width="8%" align="center">{{ turn["turn_idx"] + 1 }}</td>
                                    <td width="12%" align="center">{{ turn["party"] }}</td>
                                    <td width="12%" align="center">{{ turn["role"] }}</td>
                                    <td width="65%" align='left'>{{ turn["text"] }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-2 py-2">
        <p>
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#extractedTuples" aria-expanded="true" aria-controls="extractedTuples" style="font-size: 12px;">
                Extracted Tuples
            </button>
        </p>
        <div class="collapse show" id="extractedTuples">
            <div class="card card-body">
                <p id="extractedTuplesButtons">
                </p>
                <div class="row" id="extractedTuplesTables">
                </div>
            </div>
        </div>
    </div>

    <div class="container my-2 py-2" style="background-color: #FFF5EE;">
        <h6>Instruction to ChatGPT for modifying some turns or regenerating subdialog.</h6>
        <p class="tiny">The instruction to ChatGPT for regenerating the current subdialog.</p>
        <select id="instruction_select_menu" class="form-select form-select-sm py-2 my-2" aria-label=".form-select-sm example">
            <option disable selected style="color: #6c757d;">-- no selected sample instruction --</option>
        </select>
        <div class="row">
            <div class="col">
                <textarea id="instruction" class="form-control" rows=3 cols=40 style="resize: none;">{{ instruction }}</textarea>
            </div>
        </div>
    </div>

    <div class="container my-2 py-2" style="background-color:#FFF5EE;">
        <div class="row"> 
            <div class="col">
                <h6 align="center"> Current Subdialog </h6>
                <p align="center">For each row of the table, correct the factual inconsistency and remove the redundant information in the column (Turn) and type your edit in the text box. If there are too many turns to edit, regenerate a new subdialog instead.</p>
            </div>
        </div>
        <div class="row my-2 py-2"> 
            <div class="col">
                <button onclick="Breakdown()" class="btn btn-warning my-2">Modify Selected Turns</button>
                <button onclick="Regenerate()" class="btn btn-warning my-2">Regenerate Subdialog</button>
            </div>
            <div class="col">
                <span id="auto_edit_total" class="badge text-bg-danger my-2" style="font-size:14px;"></span>
                <br>
                <span id="auto_edit_counter" class="badge text-bg-danger my-2" style="font-size:14px;"></span>
            </div>
        </div>
        <div class="row overflow-scroll" style="height: 500px;">
            <div id="edit_table_div">
            </div>
        </div>
        <p class="tiny">If contents is hidden, you can scroll down the box. </p>
    </div>

    <div class="container my-2 py-2">
        <h6 align="center">Actions</h6>
        <div class="row">
            <div class="col">
                <p>If you have done all edits in the current subdialog, choose Action 1.</p>
            </div>
            <div class="col">
                <p>If you think the whole dialog finish, choose Action 2. You will be lead to the last labeling step and finish the dialog.</p>
            </div>
        </div>
        <div class="row">
            <div class="col" styple="height: 20px; text-align: center">
                <button onclick="Submit()" class="btn btn-success my-2">(Action 1) Go to Label and Continue!</button>
            </div>
            <div class="col" styple="height: 20px; text-align: center">
                <button onclick="Finish()" class="btn btn-success my-2">(Action 2) Go to Label and Finish!</button>
            </div>
        </div>
    </div>

    <div id="time-spent">
        <div id="page_time">Page: 0 min 0 sec</div>
        <div id="total_time">Total: 0 min 0 sec</div>
    </div>

<script>
    let domains = JSON.parse('{{ domains | tojson | safe}}')
    let domain_to_dialog_scenario_tuples = JSON.parse('{{ domain_to_dialog_scenario_tuples | tojson | safe}}')
    let domain_to_extracted_tuples = JSON.parse('{{ domain_to_extracted_tuples | tojson | safe}}')
    let domain_to_show_slots = JSON.parse(jsonEscape('{{ domain_to_show_slots | tojson | safe}}'))
    let default_instructions = JSON.parse(jsonEscape('{{ default_instructions | tojson | safe}}'))
    let curr_subdialog = JSON.parse(jsonEscape('{{ curr_subdialog | tojson | safe}}'))
    let instruction = JSON.parse(jsonEscape('{{ instruction | tojson | safe}}'))
    let scroll_down = JSON.parse(jsonEscape('{{ scroll_down | tojson | safe}}'))
    let role_to_party = JSON.parse(jsonEscape('{{ role_to_party | tojson | safe}}'))
    let page_time_spent = JSON.parse(jsonEscape('{{ page_time_spent | tojson | safe}}'))
    let total_time_spent = JSON.parse(jsonEscape('{{ total_time_spent | tojson | safe}}'))

    // Record the start time when the page is loaded
    let startTime, interval;
    // Record the start time when the page is loaded
    window.addEventListener("load", () => {
        startTime = new Date();
        interval = setInterval(updateTimeSpent, 1000); // Update every 1000 milliseconds (1 second)
    });

    let instruction_textarea = document.getElementById("instruction");
    agent_name = role_to_party["agent"]
    user_name = role_to_party["user"]

    //default_instructions = [
    //                       "Have " + user_name + " misremember the details. " + agent_name + " double check with " + user_name + ".",
    //                       "Have " + user_name + "'s response be less specific. Have " + agent_name + " asks for more details.",
    //                       "Have " + user_name + " corrects wrong information. Have " + agent_name + " asks for clarification.",
    //                       "Have " + user_name + " describe more car accident details with complex reasoning that involves two cars' motion.",
    //                       "Have " + agent_name + " ask [MISSING SLOT VALUE].",
    //                       "Have " + user_name + " mention [MISSING SLOT VALUE].",
    //                       "Have " + agent_name + " end the conversation."
    //]
                           
    instruction_textarea.placeholder = ("You can choose one of the sample instructions and edit it.\n" + 
                                        "You can also type your instruction to guide ChatGPT to enrich the conversation and make it more natural! :)");

    var select_menu = document.getElementById("instruction_select_menu");
    for (var i = 0; i < default_instructions.length; i++) {
        var option = document.createElement("option");
        option.text = default_instructions[i];
        select_menu.add(option);
    }

    select_menu.addEventListener('change', function(e) {
        if (e.target.value === "-- no selected sample instruction --") {
            instruction_textarea.value = "";
            return;
        }
        instruction_textarea.value = e.target.value;
        instruction_textarea.select();
    });
    if (scroll_down) {
        window.scrollTo(0, document.body.scrollHeight);
    }

    MAX_NUM_BREAKDOWN_TURNS = 8;
    MAX_NUM_AUTO_EDIT = Math.floor(curr_subdialog.length / 2 + 1);
    let num_auto_edit = MAX_NUM_AUTO_EDIT

    var total = document.getElementById("auto_edit_total");
    var count = document.getElementById("auto_edit_counter");
    total.innerHTML = curr_subdialog.length + " turns in this subdialog"
    count.innerHTML = num_auto_edit + " time(s) of auto editing left.";

    let table = document.getElementById("dialogHistoryTable");
    table.scrollTop = table.scrollHeight;
    createMultiCollapseSection(
        "extractedTuples", domains, domain_to_extracted_tuples, createExtractedTupleTable);
    createEditTable(curr_subdialog);

    $("button.copy_turn").click(function() {
        turn_id = this.id.slice(9)
        turn_text = $(`#${turn_id}`)[0].innerText
        textarea_id = "edit_" + turn_id
        //$(`#${textarea_id}`)[0].innerHTML = turn_text
        $(`#${textarea_id}`).val(turn_text)
        $(`#${textarea_id}`)[0].readOnly = false;

        // Removes the strike.
        $(`#${turn_id}`)[0].innerHTML = turn_text.replace(/<(.|\n)*?>/g, '');
    });

    //$("button.clean_turn").click(function() {
    //    turn_id = this.id.slice(10)

    //    textarea_id = "edit_" + turn_id
    //    console.log($(`#${textarea_id}`).val(""));
    //    //console.log($(`#${textarea_id}`)[0].innerHTML);
    //    //$(`#${textarea_id}`)[0].innerHTML = ""
    //    $(`#${textarea_id}`)[0].readOnly = false;

    //    turn_text = $(`#${turn_id}`)[0].innerText
    //    // Removes the strike.
    //    $(`#${turn_id}`)[0].innerHTML = turn_text.replace(/<(.|\n)*?>/g, '');
    //});

    $("button.delete_turn").click(function() {
        turn_id = this.id.slice(11)
        turn_text = $(`#${turn_id}`)[0].innerText
        // turn_ is already included in `turn_id` (turn_{idx}).
        textarea_id = "edit_" + turn_id
        $(`#${textarea_id}`).val("[delete this turn]");
        $(`#${textarea_id}`)[0].readOnly = true;
        $(`#${turn_id}`)[0].innerHTML = turn_text.strike()
    });

    $("button.auto_turn").click(function() {
        turn_id = this.id.slice(9)
        textarea_id = "edit_" + turn_id
        //$(`#${textarea_id}`)[0].innerHTML = turn_text

        if ($(`#${textarea_id}`)[0].readOnly) {
            alert('Please use copy button to remove the delete mark first.')
            return;
        }

        let text = $(`#${textarea_id}`).val().trim()
        let row_idx = $(`#${textarea_id}`).attr('row_idx')
        let role = curr_subdialog[row_idx]['role']
        if (text.length === 0) {
            alert('Please type your edit in the text box or copy the turn first.')
            return;
        }

        if (num_auto_edit == 0) {
            alert('You have reached the maximum number (' + MAX_NUM_AUTO_EDIT + ' times) of the auto editing for this subdialog.')
            return;
        }

        if (num_auto_edit == 1) {
            if (!confirm('This is the last time you can use auto editing. Are you sure you want to proceed?')) {
              return;
            }
        }

        const queryString = window.location.search;
        const url_params = new URLSearchParams(queryString);
        let task_id = url_params.get('task_id');
        let worker_id = url_params.get('worker_id');
        let data = {
            'task_id': task_id,
            'worker_id': worker_id,
            'role': role,
            'text': text,
        }

        $("#overlay").fadeIn(300);

        $.ajax({
            method: "POST",
            contentType: 'application/json',
            url: "/reword",
            data: JSON.stringify(data),
            dataType: 'json',
        }).done(function(msg) {
            $("#overlay").fadeOut(300);
            num_auto_edit -= 1;
            count.innerHTML = num_auto_edit + " time(s) of auto editing left.";
            let textbox = $(`#${textarea_id}`)
            textbox.val(msg['text'])
            textbox.attr('auto_edit', 'true')
        }, 500).fail(function()  {
            alert("Sorry. Server unavailable. ");
        });

        // Removes the strike.
        //$(`#${turn_id}`)[0].innerHTML = turn_text.replace(/<(.|\n)*?>/g, '');
    });

    //$("button.insert_turn").click(function() {
    //    let min_turn_idx = parseInt(curr_subdialog[0]['turn_idx']);
    //    let turn_idx = parseInt(this.id.slice(16));

    //    let turn = {'party': '', 'turn': ''};
    //    console.log(curr_subdialog);
    //    console.log(turn_idx + 1);
    //    curr_subdialog.splice(turn_idx-min_turn_idx, 0, turn);
    //    console.log(curr_subdialog);

    //    for (var i = 0; i < curr_subdialog.length; i++) {
    //        curr_subdialog[i]['turn_idx'] = min_turn_idx + i;
    //    }
    //    console.log(curr_subdialog);

    //    //for (let i = 0; i < curr_subdialog.length, i++) {
    //    //    curr_subdialog[i]['turn_idx'] = min_turn_idx + i;
    //    //}
    //    var table_div = document.getElementById("edit_table_div");
    //    var edit_table = document.getElementById("edit_table");
    //    console.log(edit_table)
    //    table_div.removeChild(edit_table);
    //    table_div.innerHTML = "";
    //    createEditTable();
    //});

    function isConsecutive(arr){
        arr = arr.map(Number);
        // Sort the array
        arr.sort();
        // checking the adjacent elements
        for (var i = 1; i < arr.length; i++)
            if(arr[i] != arr[i-1]+1)
                return false;
        return true;
    }


    function Breakdown() {
        const queryString = window.location.search;
        const url_params = new URLSearchParams(queryString);
        let task_id = url_params.get('task_id');
        let worker_id = url_params.get('worker_id');
        let instruction = $("#instruction")[0].value

        if (instruction.length === 0) {
            alert('Please type your instruction in the text box.');
            return;
        }

        if (instruction.includes('[MISSING SLOT VALUE]')) {
            alert('Please replace [MISSING SLOT VALUE] with the missing slot values. You can use the tables of dialog scenario, dialog history, and extracted tuples to find out the missing slot values.');
            return;
        }

        num_edits = 0;
        for (let i = 0; i < curr_subdialog.length; i++) {
            let turn_id = curr_subdialog[i]['turn_idx'] + 1;
            let textarea_id = "edit_turn_" + turn_id;
            let text = $(`#${textarea_id}`).val()
            if (text.length !== 0) {
                num_edits += 1;
            }
        }

        let seleted_for_modification_idxs = [];
        $("input:checkbox[name=chk_edit_table]:checked").each(function(){
            let row_idx = $(this).attr('row_idx');
            seleted_for_modification_idxs.push(row_idx);
        });

        if (seleted_for_modification_idxs.length < 2) {
            alert('Please select at least 2 turns to be modified.');
            return;
        }

        if (!isConsecutive(seleted_for_modification_idxs)) {
            alert('Please select consecutive turns to be modified.');
            return;
        }

        if (seleted_for_modification_idxs.length > MAX_NUM_BREAKDOWN_TURNS) {
            alert('Please select no more than ' + MAX_NUM_BREAKDOWN_TURNS + ' turns to be modified.');
            return;
        }

        if (num_edits !== 0){
            if (!confirm(('Are you sure you want to MODIFY the selected turns? You will lose all edits!'))) {
              return;
            }
        }

        let endTime = new Date();
        const timeSpentOnPage = endTime - startTime; // in milliseconds

        let data = {
            'task_id': task_id,
            'worker_id': worker_id,
            'selected_for_modification_idxs': seleted_for_modification_idxs,
            'instruction': instruction,
            'time_spent_on_page': timeSpentOnPage,
        }

        $("#overlay").fadeIn(300);

        $.ajax({
            method: "POST",
            contentType: 'application/json',
            url: "/modify_turns",
            data: JSON.stringify(data),
            dataType: 'json',
        }).done(function(msg) {
            $("#overlay").fadeOut(300);
            location.replace(msg);
        }, 500).fail(function()  {
            alert("Sorry. Server unavailable. ");
        });
    }


    function Regenerate() {
        num_edits = 0;
        for (let i = 0; i < curr_subdialog.length; i++) {
            let turn_id = curr_subdialog[i]['turn_idx'] + 1;
            let textarea_id = "edit_turn_" + turn_id;
            let text = $(`#${textarea_id}`).val()
            if (text.length !== 0) {
                num_edits += 1;
            }
        }

        if (num_edits !== 0){
            if (!confirm(('Are you sure you want to REGENERATE? You will lost all edits!'))) {
              return;
            }
        }

        const queryString = window.location.search;
        const url_params = new URLSearchParams(queryString);
        let task_id = url_params.get('task_id');
        let worker_id = url_params.get('worker_id');
        let instruction = $("#instruction")[0].value

        if (instruction.includes('[MISSING SLOT VALUE]')) {
            alert('Please replace [MISSING SLOT VALUE] with the missing slot values. You can use the tables of dialog scenario, dialog history, and extracted tuples to find out the missing slot values.');
            return;
        }

        let endTime = new Date();
        const timeSpentOnPage = endTime - startTime; // in milliseconds

        let data = {
            'task_id': task_id,
            'worker_id': worker_id,
            'instruction': instruction,
            'time_spent_on_page': timeSpentOnPage,
        }

        $("#overlay").fadeIn(300);

        $.ajax({
            method: "POST",
            contentType: 'application/json',
            url: "/regenerate",
            data: JSON.stringify(data),
            dataType: 'json',
        }).done(function(msg) {
            location.replace(msg);
            $("#overlay").fadeOut(300);
        }, 500).fail(function()  {
            alert("Sorry. Server unavailable. ");
        });
    }

    function Submit() {
        const queryString = window.location.search;
        const url_params = new URLSearchParams(queryString);
        let task_id = url_params.get('task_id');
        let worker_id = url_params.get('worker_id');
        let data = {'task_id': task_id, 'worker_id': worker_id}

        let instruction = $("#instruction")[0].value

        if (instruction.includes('[MISSING SLOT VALUE]')) {
            alert('Please replace [MISSING SLOT VALUE] with the missing slot values. You can use the tables of dialog scenario, dialog history, and extracted tuples to find out the missing slot values.');
            return;
        }

        if (instruction.length !== 0) {
            if (!confirm('We will prefab the next subdialog when you are labeling and it will follow the instruction you typed. If you do not want to have the next subdialog following the instruction, please leave the instruction box empty. Are you sure you want to submit with instruction?')) {
              return;
            }
        }

        let edit_turns = [];
        let num_non_deleted_turns = 0;
        for (let i = 0; i < curr_subdialog.length; i++) {
            let turn = curr_subdialog[i];
            party_id = "party_turn_" + (turn['turn_idx'] + 1)
            role_id = "role_turn_" + (turn['turn_idx'] + 1)
            textarea_id = "edit_turn_" + (turn['turn_idx'] + 1) 
            let textbox = $(`#${textarea_id}`);
            let edit_content = textbox.val().trim();
            let auto_edit = textbox.attr('auto_edit')
            auto_edit = auto_edit ? (auto_edit === "true") : false;
            let deleted = edit_content === '[delete this turn]';
            let party = $(`#${party_id}`)[0].textContent;
            let role = $(`#${role_id}`)[0].textContent;
            var edit_turn = {
                'party': party, 
                'role': role,
                'text': edit_content,
                'raw_text': turn['text'],
                'annotated': false,
                'deleted': deleted,
                'edit': edit_content !== turn['text'],
                'auto_edit': auto_edit,
                'instruction': turn['instruction'],
            }

            if (edit_turn['text'] === "") {
                alert('Turn ' + (turn['turn_idx'] + 1) + ' is an empty textbox. Please enter your edit or delete the turn.')
                return;
            }
            edit_turns.push(edit_turn);
            if (!deleted) {
                num_non_deleted_turns += 1;
            }
        }

        if (num_non_deleted_turns === 0) {
            alert('All turns are deleted! If you want to delete all turns, please select action 1 to regenerate a new subdialog.')
            return;
        }

        let endTime = new Date();
        const timeSpentOnPage = endTime - startTime; // in milliseconds
        data['time_spent_on_page'] = timeSpentOnPage

        data['turns'] = edit_turns
        data['instruction'] = instruction

        $("#overlay").fadeIn(300);

        $.ajax({
            method: "POST",
            contentType: 'application/json',
            url: "/submit",
            data: JSON.stringify(data),
            dataType: 'json',
        }).done(function(msg) {
            $("#overlay").fadeOut(300);
            location.replace(msg);
        }, 500).fail(function()  {
            alert("Sorry. Server unavailable. ");
        });
    }

    function Finish() {
        const queryString = window.location.search;
        const url_params = new URLSearchParams(queryString);
        let task_id = url_params.get('task_id');
        let worker_id = url_params.get('worker_id');
        let data = {'task_id': task_id, 'worker_id': worker_id}

        let edit_turns = [];
        for (let i = 0; i < curr_subdialog.length; i++) {
            let turn = curr_subdialog[i];
            party_id = "party_turn_" + (turn['turn_idx'] + 1)
            role_id = "role_turn_" + (turn['turn_idx'] + 1)
            textarea_id = "edit_turn_" + (turn['turn_idx'] + 1) 
            let textbox = $(`#${textarea_id}`);
            let edit_content = textbox.val().trim();
            let auto_edit = textbox.attr('auto_edit')
            auto_edit = auto_edit ? (auto_edit === "true") : false;
            let party = $(`#${party_id}`)[0].textContent;
            let role = $(`#${role_id}`)[0].textContent;
            var edit_turn = {
                'party': party, 
                'role': role,
                'text': edit_content,
                'raw_text': turn['text'],
                'annotated': false,
                'deleted': edit_content === '[delete this turn]',
                'edit': edit_content !== turn['text'],
                'auto_edit': auto_edit,
                'instruction': turn['instruction'],
            }

            if (edit_turn['text'] === "") {
                alert('Turn ' + (turn['turn_idx'] + 1) + ' is an empty textbox. Please enter your edit or delete the turn. If you want to skip this subdialog and finish the dialog, please delete all turns and hit the button again.')
                return;
            }
            edit_turns.push(edit_turn);
        }

        if (edit_turns.length == 0) {
            alert('All turns are deleted! If you want to delete all turns, please select Action 1 to regenerate a new subdialog.')
            return;
        }

        if (!confirm(('Are you sure you want to FINISH this dialog? You will go to the last labeling step and can not generate a new subdialog anymore.'))) {
          return;
        }
        
        let endTime = new Date();
        const timeSpentOnPage = endTime - startTime; // in milliseconds
        data['time_spent_on_page'] = timeSpentOnPage
        //data['prompt_for_next'] = $(`#prompt-for-next`).val().trim();
        data['turns'] = edit_turns

        $("#overlay").fadeIn(300);

        $.ajax({
            method: "POST",
            contentType: 'application/json',
            url: "/finish",
            data: JSON.stringify(data),
            dataType: 'json',
        }).done(function(msg) {
            $("#overlay").fadeOut(300);
            location.replace(msg);
        }, 500).fail(function()  {
            alert("Sorry. Server unavailable. ");
        });
    }

</script>

</body>
</html>